<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    
<head th:replace="fragments/layout :: head"> </head>

<body class="flex flex-col h-screen justify-between bg-gray-100 antialiased leading-none font-sans">
    <div th:replace="fragments/layout :: navbar"></div>
    <main class="sm:container sm:mx-auto sm:max-w-lg sm:mt-10">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-8" role="alert"
            th:if="${error}">
            <strong class="font-bold" th:if="${error}"></strong>
        </div>

        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-8" role="alert"
            th:each="error : ${#fields.errors('global')}" th:if="${#fields.hasGlobalErrors()}" th:text="${error}">
            <strong class="font-bold">Validation error</strong>
        </div>

        <div class="flex">
            <div class="w-full">
                <section class="flex flex-col break-words bg-white sm:border-1 sm:rounded-md sm:shadow-sm sm:shadow-lg">
                    <header class="font-semibold bg-gray-200 text-gray-700 py-5 px-6 sm:py-6 sm:px-8 sm:rounded-t-md">
                        Reset Password
                    </header>

                    <form class="w-full px-6 space-y-6 sm:px-10 sm:space-y-8" method="POST"
                        th:action="@{/reset-password}" th:object="${passwordReset}">
                        <input name="token" th:value="${token}" type="hidden" />
                        <div class="flex flex-wrap mt-8">
                            <label for="password" class="block text-gray-700 text-sm font-bold mb-2 sm:mb-4">
                                New Password :
                            </label>

                            <input id="password" type="password" laceholder="Password" th:errorClass="border-red-500"
                                th:field="*{password}"
                                class="form-input w-full border-b-2 border-gray-300 focus:border-blue-300 outline-none"
                                required autofocus />

                            <p class="text-red-500 text-xs italic mt-4" th:errors="*{password}"
                                th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="flex flex-wrap">
                            <label for="password" class="block text-gray-700 text-sm font-bold mb-2 sm:mb-4">
                                New Password Confirmation :
                            </label>

                            <input id="passwordConfirmation" type="password" laceholder="Password Confirmation"
                                th:errorClass="border-red-500" th:field="*{passwordConfirmation}"
                                class="form-input w-full border-b-2 border-gray-300 focus:border-blue-300 outline-none"
                                required autofocus />

                            <p class="text-red-500 text-xs italic mt-4" th:errors="*{passwordConfirmation}"
                                th:if="${#fields.hasErrors('passwordConfirmation')}"></p>
                        </div>

                        <div class="flex flex-wrap">
                            <button type="submit"
                                class="w-full select-none font-bold whitespace-no-wrap p-3 rounded-lg text-base leading-normal no-underline text-gray-100 bg-blue-500 hover:bg-blue-700 sm:py-4">
                                Reset Password
                            </button>
                        </div>
                        <div class="flex flex-wrap"></div>
                    </form>
                </section>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>